{% extends "base.html" %}
{% block title %}Summary Articles{% endblock %}
{% block content %}
<h1 align="center">Summary Articles</h1>
<form method="POST">
    <div class="form-group">
        <label>Enter Your articles : </label>
        <textarea 
            class="form-control" 
            id="exampleFormControlTextarea1" 
            rows="8"
            placeholder="Type Here"
            name="articles"
        ></textarea>
    </div>
  <input type="submit" value="Summary It!" />
</form>
<div>
    <h3>Summary is </h3>
    {{ summary }}
</div>
{% endblock %}